<div class='container'>
	<!-- Log in options in thier own div -->
	<div class='createUser'>
		<div id='logInTitle'><h3>Login: </h3></div>
		<form id='loginForm'>
			<label for='userName'>UserName: </label>
			<input type='text' id='userName' />
			<br />
			<label for='loginPassword'>Password: </label>
			<input type='password' id='loginPassword' />
			<br />
			<button type='submit' id='loginBtn'>Login</button>
		</form>
	</div>
	<!-- Options for creating a new user in their own div -->
	<div class='login'>
		<div id='createAccountTitle'><h3>Create Account:</h3></div>
		<br />
		<form id='newUserForm'>
			<label for='newEmail'>Email: </label>
			<input type="'text" id='newEmail' />
			<br />
			<label for='newUser'>UserName: </label>
			<input type='text' id='newUser' />
			<br />
			<label for='newPass'>Password: </label>
			<input type='password' id='newPass' />
			<br />
			<button type='submit'>Submit</button>
		</form>
	</div>
</div>
<!-- Pulling in the javascript in the public folder to take actions based on which submit button is pressed -->
<script src='./js/loginPage.js'></script>