<h1>{{userName}}</h1>
<!-- Section for the logged in user to create a new post for the webstie -->
<div id='createPost'>
	<div class='newPost'><h3>Create a Post!</h3></div>
	<form id='newPostForm' enctype='multipart/form-data'>
		<label for="'title">Post title:</label>
		<input type='text' id='title' />
		<br />
		<label for='description'>Tell everything about this subject: </label>
		<br />
		<input type='text' size='50' id='description' class='descriptionText' />
		<br />
		<label for='image'>Add a picture related to your post!</label>
		<input type='file' id='image' appect='image/' />
		<div id='imageDisplay' class='displayArea'></div>
		<br />
		<button type='submit'>Submit</button>
	</form>
</div>
<!-- Section to see previous posts you have created -->
<div id='previousPosts'>

</div>

<script src='./js/createPost.js'></script>